<p id="notice"><%= notice %></p>

<h1>Ponentes</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Contrasena</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.contrasena %></td>
        <td><%= alumno.correo %></td>
        <td><%= link_to 'mostrar', {:action => 'mostrar',  :controller => 'alumno', :id => alumno.id} %></td>
        <td><%= link_to 'actualizar',  {:action => 'actualizar',  :controller => 'usuario', :id => alumno.id, :tipo => 'alumno'} %></td>
        <td><%= link_to 'borrar', {:action => 'borrar',  :controller => 'usuario', :id => alumno.id} %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Ponente', {:action => 'registrar', :controller => 'usuario', :tipo => 'alumno'} %>
<br>
<%= link_to 'Iniciar sesion', {:action => 'iniciarSesion', :controller => 'usuario'} %>
<br>
<%= link_to 'Cerrar sesion', {:action => 'cerrarSesion', :controller => 'usuario'} %>