<%= form_for @usuario, url:{controller: "usuario", action: @action, id: @usuario.id}, :method => :POST do |f| %>
  <% if @usuario.errors.any? %>
    <div id="error_nuevo_curso">
      <h2><%= pluralize(@usuario.errors.count, "error") %></h2>

      <ul>
      <% @usuario.errors.full_messages.each do |mensaje| %>
        <li><%= mensaje %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag(:tipo, @tipo) %>
  <%= hidden_field_tag(:usuario, @tipo) %>
  <div class="field">
    <%= f.label :"Nombre" %><br>
    <%= f.text_field :nombre, placeholder: "Nombre" %>
  </div>
  <div class="field">
    <%= f.label :"Contrase単a" %><br>
    <%= f.password_field :contrasena, placeholder: "Contrase単a" %>
  </div>
  <div class="field">
    <%= f.label :"Re-Contrase単a" %><br>
    <%= f.password_field :recontrasena, placeholder: "ReContrase単a" %>
  </div>
  <div class="field">
    <%= f.label :"Correo" %><br>
    <%= f.email_field :correo, placeholder: "Correo electronico" %>
  </div>
  <div class="field">
    <%= f.label :"Direccion" %><br>
    <%= f.text_field :direccion, placeholder: "Direccion" %>
  </div>
 <div class="actions">
    <%= f.submit %>
  </div>
<% end %>